@import "config.less";
@import "elements.less";

body, nav, ul, li, a {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

.container {
  width: 90%;
  max-width: 900px;
  margin: 10px auto;
  
}

.toggleMenu {
  display: none;
  background: #666;
  padding: 10px 15px;
  color: #fff;
}

.nav {
  list-style: none;
  zoom: 1;
  background: #175e4c;
  position: relative;
}

.nav:before, .nav:after {
  content: "";
  display: table;
}

.nav:after {
  clear: both;
}

.nav ul {
  list-style: none;
  width: 9em;
}

.nav a {
  padding: 10px 15px;
  color: #fff;
  zoom: 1;
}

.nav > li {
  float: left;
  border-top: 1px solid #104336;
  z-index: 200;
}

.nav > li > a {
  display: block;
}

.nav{
  li{
    ul{
      position: absolute;
  left: -9999px;
  z-index: 100;
    }
    li {
      a{
   display: block;
  background: #1d7a62;
  position: relative;
  z-index: 100;
  border-top: 1px solid #175e4c;
    }
    li a{
      background: #249578;
  z-index: 200;
  border-top: 1px solid #1d7a62;
    }}
  }
}
//this is what i nested
/*.nav li ul {
  position: absolute;
  left: -9999px;
  z-index: 100;
}

.nav li li a {
  display: block;
  background: #1d7a62;
  position: relative;
  z-index: 100;
  border-top: 1px solid #175e4c;
}

.nav li li li a {
  background: #249578;
  z-index: 200;
  border-top: 1px solid #1d7a62;
}*/

.nav li {
  position: relative;
}

.nav > li.hover > ul {
  left: 0;
}

.nav li li.hover ul {
  left: 100%;
  top: 0;
}

@media screen and (max-width: 800px) {
  .nav > li {
    float: none;
  }
  .nav ul {
    display: block;
    width: 100%;
  }
  .nav > li.hover > ul, .nav li li.hover ul {
    position: static;
  }
}

#main {
  width:58%;
  padding: 1%;
  margin: 1%;
  height: 400px;
  float:left;
  background-color: red;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.news{
  -moz-column-count:2;
  -webkit-column-count:2;
  column-count:2;
   -moz-column-width:200px;
  -webkit-column-width:200px;
  column-width:200px;
  .gradient(#146a1, lighten(#146a1, 40%),(#a80077, darken, 20%),(#db36a4);
  
}

#content{

}

#side {
  width: 38%;
  padding: 1%;
  margin: 1%;
  height: 400px;
  float: right;
  background-color: blue;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

header {
  background-color:pink;
  padding: 1%;
  margin: 1%;
   box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  clear:both;
  overflow:hidden;

}

.image2{
  
}

footer {
  background-color:green;
  clear:both;
   padding: 1%;
  margin: 1%;
   box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  overflow:hidden;
  .rounded(50px);
  
}

//iPads (portrait)
@media all and (min-width: 481px)
and (max-width: 768px) 
 {
 #main {
    float:left;
   width: 58%;
   padding: 1%;
   margin: 1%;
   height:800px;
   box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  
  }
  
  #side {
    float:right;
    width:38%;
    padding: 1%;
   margin: 1%;
   height:800px;
   box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  } 
  .news{
  -moz-column-count:1;
  -webkit-column-count:1;
  column-count:1;
   -moz-column-width:300px;
  -webkit-column-width:300px;
  column-width:300px;
}
  
 }
//iPads (portrait)
@media all and (max-width:480px) {
body {
  background-color: yellow;
}

  #main, #side {
    float:none;
    width:98%;
  } 
  header h2{
	  display:none;
	  }
	#side p,ol, footer{
		font-size:0.8em;
		}
}


/* end of media query */

