.error {
  color:blue;
}

.hidden {
  display:none;
}


body{
  color:white;
  background-color:#7e6ff3;
  font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
 }
  
form{
  color:black;
  padding:20px;
}
